<footer class="bg-light text-center py-3 mt-4">
    <div class="container">
        <p>&copy; 2024 E-commerce Site. All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="text-muted">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted">Terms of Service</a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted">Contact Us</a>
            </li>
        </ul>
        <p class="text-muted">Follow us on:</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="text-muted">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="text-muted">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
            </li>
        </ul>
    </div>
</footer>
